/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Inserimento colore sfondo alla pagina */
body{
    background-color: #f6f8f9;
}

/* Header: barra bianca con logo */
header{
    height: 90px;
    background-color: #fff;
}

img{
    width: 55px;
    margin: 10px 0px 10px 20px;
    line-height: 90px;
    vertical-align: middle;
}

h1{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 90px;
    vertical-align: middle;
}

/* Main: creazione struttura dei due contenitori */
.elementoPrincipale{
    margin: 50px auto;
    width: 70%;
    background-color: #fff;
}

#areaPulsanti{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 70px;
    margin-bottom: 3px;
}

#areaContenuto{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 400px;
    margin-top: 3px;
}

/* Main: Creazione pulsanti */
.elementoPrincipale input{
    padding: 7px 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 25px;
}

#pulsante1{
    color: #fff;
    background-color: #47adf1;
    border: 1px solid #47adf1;
    margin-left: 60px;
}

#pulsante2{
    color: #cfd4d8;
    background-color: #fff;
    border: 1px solid #cad0d4;
}